<section class="project-page-section" style="--backgroundColour: {{ page.backgroundColour | default: site.backgroundColour }}; --fontColour: {{ page.fontColour | default: site.fontColour }};">
    <div class="projects-page-flexbox">
        {% for project in site.projects %}
        <div class="project-card-flexbox">
            <div class="project-card-title-overlay">
                <a href="{{ project.permalink }}">{{ project.title }}</a>
            </div>
            <div class="project-card-images-flexbox">
                {% assign thumbnails_folder = project.thumbnails | first %}
                {% assign thumbnails_files = site.static_files | where_exp: "file", "file.path contains thumbnails_folder" %}
                {% for file in thumbnails_files %}
                {% if file.extname == ".png" or file.extname == ".jpg" or file.extname == ".jpeg" or file.extname == ".webp" %}
                 <a href="{{ project.permalink }}">
                    <img src="{{ file.path }}" alt="Gallery image for {{ project.title }}" loading="lazy" decoding="async">
                </a>
                  {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
