<section class="project-page-section" style="--navSquareColour: {{ page.navSquareColour | default: site.navSquareColour }}; --navFontColour: {{ page.navFontColour | default: site.navFontColour }};">
    <div class="projects-page-flexbox">
        {% for project in site.projects %}
        <div class="project-card-flexbox">
            <h3 class="project-card-title">
                <a href="{{project.permalink}}">{{ project.title }}</a>
            </h3>
            <p>{{ project.description }}</p>
        </div>
        {% endfor %}
    </div>
</section>
