<section class="cv-section">
    <div class="page-loader-anim">
        <div class="page-loader-content">
            <h1 class="page-loader-text">{{ cv_i18n.meta.page_loader_text }}</h1>
        </div>
    </div>
    <div class="cv-content">
    {%- include CV/nav.html -%}
    <div class="cv-horizontal-intro-education">
        <div class="cv-horizontal-intro-layer">
            {%- include CV/intro.html -%}
        </div>
        <div class="cv-horizontal-education-track">
            {%- include CV/education.html -%}
        </div>
    </div>
    {%- include CV/experience.html -%}
    {%- include CV/skills.html -%}
    {%- include CV/programmingProjects.html -%}
    {%- include CV/factsMarguee.html -%}
    {%- include CV/personal.html -%}
    {%- include CV/dreamjob.html -%}
    {%- include CV/footerWithPdfDownload.html -%}
    </div>
</section>
