<section id="cv-intro" class="cv-intro-section">
    <div class="cv-circle-background"></div>
    <div class="cv-intro-content">
        <h1>Hi! Im Szilvi</h1>
        <p>Let me introduce myself</p>
        <h3>Drivers license : B, <br/> Confident driver</h3>
        <h3>Languages <br/> Hungarian C2 <br/> English <br/> C1 German B2</h3>
        <h3>Nationality: Hungarian</h3>
        <h3>Location: Vienna, Austria</h3>
        <h3>Linkedin Link as an Icon</h3>
        <h3>Github link as an Icon</h3>
        <h3>Insta Link as an Icon</h3>
    </div>
</section>
