<section id="cv-login" class="cv-login-section">
    <div class="cv-login-content">
        <h2>Login</h2>
        <form action="/login" method="post">
            <div class="cv-login-field">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Enter</button>
        </form>
        <p class="noPw">if you dont have the password, but you would like to access the CV, please contact me :)</p>
    </div>
</section>