@import url("./variables.css");

.grafenegg-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: var(--grafenegg-background);
    color: var(--grafenegg-foreground);
}

.grafenegg-content {
    width: min(1200px, calc(100% - 2rem));
    margin: 0 auto;
    padding: 6rem 0;
}
