<div class="imageOfTheDayOverlay" id="imageOfTheDayOverlay" aria-hidden="true">
    <button class="imageOfTheDayClose" type="button" aria-label="Close image of the day">&times;</button>
    <div class="imageOfTheDayContent">
        <h2 class="imageOfTheDayTitle">Image of the Day</h2>
        <div class="imageOfTheDayImageWrapper">
            {% if site.imageOfTheDay %}
            <img class="imageOfTheDayImage" src="{{ site.imageOfTheDay.url }}" alt="{{ site.imageOfTheDay.alt }}">
            {% else %}
            <p class="imageOfTheDayFallback">Set site.imageOfTheDay in _config.yml.</p>
            {% endif %}
        </div>
    </div>
</div>
