<section class="animated-image-row-section">
    <div class="animated-image-row-images">
        {%- assign gallery_path = "/assets/images/projects/forest/gallery_images/animated_image_row_images/" -%}
        {%- assign gallery_files = site.static_files | where_exp: "f", "f.path contains gallery_path" -%}
        {%- assign gallery_list = gallery_files | map: "path" | sort -%}
        {%- assign layout = site.data.forestAnimatedImageRowLayout | where: "group", include.group -%}
        {%- assign layout_paths = layout | map: "path" -%}
        <img class="images first-animated-image" src="{{ layout_paths[0] }}" alt="">
        <img class="images second-animated-image" src="{{ layout_paths[1] }}" alt="">
        <img class="images third-animated-image" src="{{ layout_paths[2] }}" alt="">
    </div>

      <script class="forest-gallery-data" type="application/json">
            {
              "all": {{ layout_paths | jsonify }},
              "layout": {{ layout | jsonify }}
            }
            </script>
</section>