<section class="project-page-section">
 <div class="project-content">
   {% include projects/forest/doubleExpo.html group=1 %}
   {% include projects/forest/animatedImageRow.html group=1 %}
   <div style="background-color: blueviolet; height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center; margin: 0; padding: 0;">
     <h1 style="color: white; font-size: 3rem;">More content coming soon...</h1>
   </div>
   {% include projects/forest/animatedCircleSection.html%}
     <div style="background-color: rgb(103, 255, 72); height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center; margin: 0; padding: 0;">
     <h1 style="color: rgb(0, 0, 0); font-size: 3rem;">More content coming soon...</h1>
   </div>
 </div>
</section>
