   <section class="double-expo-section">
   <div class="double-expo-images">
        {%- assign gallery_path = "/assets/images/projects/forest/gallery_images/double_expo_images/" -%}
        {%- assign gallery_files = site.static_files | where_exp: "f", "f.path contains gallery_path" -%}
        {%- assign gallery_list = gallery_files | map: "path" | sort -%}
        {%- assign layout = site.data.forestLayout | where: "group", include.group -%}
        {%- assign layout_paths = layout | map: "path" -%}
        <div class="image-carousel" aria-label="Forest Double Exposure gallery">
            <div class="image-track">
                 <div class="double-expo-first-container">
                    <img class = "image double-expo-first-image" src="" alt="">
                 </div>
                 <div class="image double-expo-second-container">
                    <img class= "image double-expo-second-image" src="" alt="">
                 </div>
            </div>

            <script id="forest-gallery-data" type="application/json">
            {
              "all": {{ layout_paths | jsonify }},
              "layout": {{ layout | jsonify }}
            }
            </script>
        </div>
    </div>
   </section>
