<section class="contact-page-section" style="--backgroundColour: {{ page.backgroundColour | default: site.backgroundColour }};">
<p class="title titleP1 ">Contact</p>
<p class="title titleP2 ">Me</p>

<div class="contact-form">
  <div class="row">
      <h2 class="contact-text contactTextPart1">Hi Szilvi, My name is</h2>
      <input type="text" placeholder="Your Name" class="contact-input contact-input-name">
      <h2 class="contact-text contactTextComma">,</h2>
  </div>

  <div class="row">
    <h2 class="contact-text contactTextPart2">I am reaching out, because</h2>
    <select id="contactReason" name="reason" class="contact-input contact-input-reason">
      <option value="" selected disabled>Please choose</option>
      <option value="job">Job opportunity</option>
      <option value="freelance-project">Freelance Project</option>
      <option value="collab">Collaboration</option>
      <option value="question">Question</option>
      <option value="other">Other</option>
    </select>
  </div>

  <div class="row">
      <h2 class="contact-text contactTextPart3">About</h2>
      <input type="text" placeholder="Company or Project name" class="contact-input contact-input-about">
  </div>

  <div class="column">
    <h2 class="contact-text contactTextPart4">My message:</h2>
    <textarea class="contact-input contact-input-message" placeholder="Type your message here..." spellcheck="false" autocorrect="off" autocapitalize="off"></textarea>
  </div>

  <div class="row">
    <h2 class="contact-text contactTextPart5">You can reach me at</h2>
    <input type="email" placeholder="Your Email" class="contact-input contact-input-email">
  </div>

  <div class="row contact-submit-row">
    <button type="button" class="contact-submit-button">Send Message</button>
  </div>

</div>



  <div class="contact-circle-stage" aria-hidden="true">
    <div class="contact-gradient-circle"></div>
  </div>
</section>
