<section class="index-gallery">
    <div class="index-gallery_grid">
        {% assign index_sources = site.projects %}
        {% for project in index_sources %}
            {% if project.indexImage %}
                {% for image in project.indexImage %}
                    <figure class="index-gallery_item">
                        {% if project.title %}
                        <a href="{{ project.permalink}}">
                             <img src="{{ image }}" alt="{{ project.title }}" loading="lazy" decoding="async" tooltip="{{ project.title }}">
                        </a>
                        {% endif %}
                    </figure>
                {% endfor %}
            {% endif %}
        {% endfor %}

    </div>
</section>
