.index-gallery_grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-auto-rows: 8px;
    gap: 60px;
}
.index-gallery_item {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    grid-column: span 4;
}

.index-gallery_item img {
    width: 100%;
    height: auto;
    display: block;
}

.index-gallery_item.size-s {
    grid-column: span 3;
}

.index-gallery_item.size-m {
    grid-column: span 4;
}

.index-gallery_item.size-l {
    grid-column: span 6;
}

@media (max-width: 900px) {
    .index-gallery_grid {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .index-gallery_item.size-s {
        grid-column: span 3;
    }
    .index-gallery_item.size-m {
        grid-column: span 3;
    }
    .index-gallery_item.size-l {
        grid-column: span 6;
    }
}

@media (max-width: 600px) {
    .index-gallery_grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .index-gallery_item.size-s {
        grid-column: span 2;
    }
    .index-gallery_item.size-m {
        grid-column: span 2;
    }
    .index-gallery_item.size-l {
        grid-column: span 4;
    }
}
