<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
<head>
    {%- if site.main_css -%}
    <link rel="stylesheet" href="{{ site.main_css }}">
    {%- else -%}
    <link rel="stylesheet" href="/assets/main.css">
    {%- endif -%}
    <link rel="icon" href="/assets/images/SzV32x32.png" type="image/x-icon">
    {%- include head.html -%}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/tools/toc.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {%- if page.stylesheet -%}
    <link rel="stylesheet" href="{{ page.stylesheet }}">
    {%- endif -%}
    {%- if page.stylesheets -%}
    {%- for href in page.stylesheets -%}
    <link rel="stylesheet" href="{{ href }}">
    {%- endfor -%}
    {%- endif -%}
</head>
<body>
<div class="page-container">
    {%- include projects/home/header.html -%}
    <main class="site-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    {%- include projects/home/footer.html -%}

</body>
</html>
